body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f484;
}

header {
  text-align: center;
  padding: 10px;
  color: rgba(16, 16, 16, 0.9777);
  padding: 1rem;
  position: sticky;
  top: 0;
}

nav {
  padding: 0.5rem;
  background-color: #555;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0.15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 700px;
  max-width: 768px;
  padding-right: 25px;
}
nav ul li a:hover {
  transition: ease-out;
  font-weight: bold;
}

main {
  padding: 2opx;
  display: grid;
}

section {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th td {
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: bisque;
}
form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

form input,
form textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  background-color: #333;
  color: white;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  position: sticky;
  bottom: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 10px;
}
